In [ ]:
IBM-Attrition

https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset

Berikut adalah data fictional dari IBM tentang kemungkinan karyawan untuk keluar.

Dari Employee-Attrition.csv, ambilah feature berikut:  
['Age','Department','DistanceFromHome','Gender','HourlyRate','JobInvolvement','JobSatisfaction','MaritalStatus','OverTime','PerformanceRating','RelationshipSatisfaction','TotalWorkingYears','YearsSinceLastPromotion','WorkLifeBalance','Attrition']

1. Lakukan EDA untuk melihat faktor-faktor apa saja yang mempengaruhi mundurnya karyawan dari perusahaan.

2. Buatlah model Machine Learning untuk memprediksi apakah seseorang akan mundur/tidak.  
>* Seperti apa proses preprocessing yang anda lakukan? Jelaskan langkah-langkah yang kalian ambil?
>* Perhatikan bahwa data anda merupakan data imbalance, apa yang bisa anda lakukan untuk meningkatkan performa model anda?
>* Evaluation metric apa yg anda pakai jika anda ingin mencegah peningkatan attrition pada perusahaan anda? Jelaskan alasan anda.
>* Pilihlah model Machine Learning yang sesuai dengan data anda. Jangan lupa, lakukan hyperparameter tunning untuk meningkatkan performa model anda. Simpanlah model terbaik anda dengan menggunakan pickle/joblib!

In [1]:
# import library

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
df=pd.read_csv('Employee-Attrition.csv')

In [5]:
df.head().T

,0,1,2,3,4
Age,41,49,37,33,27
Attrition,Yes,No,Yes,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EmployeeCount,1,1,1,1,1
EmployeeNumber,1,2,4,5,7
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
Over18,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StandardHours,80,80,80,80,80
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [9]:
df=df[['Age','Department','DistanceFromHome','Gender','HourlyRate','JobInvolvement','JobSatisfaction','MaritalStatus','OverTime','PerformanceRating','RelationshipSatisfaction','TotalWorkingYears','YearsSinceLastPromotion','WorkLifeBalance','Attrition']]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Department                1470 non-null   object
 2   DistanceFromHome          1470 non-null   int64
 3   Gender                    1470 non-null   object
 4   HourlyRate                1470 non-null   int64
 5   JobInvolvement            1470 non-null   int64
 6   JobSatisfaction           1470 non-null   int64
 7   MaritalStatus             1470 non-null   object
 8   OverTime                  1470 non-null   object
 9   PerformanceRating         1470 non-null   int64
 10  RelationshipSatisfaction  1470 non-null   int64
 11  TotalWorkingYears         1470 non-null   int64
 12  YearsSinceLastPromotion   1470 non-null   int64
 13  WorkLifeBalance           1470 non-null   int64
 14  Attrition                 1470 non-null   object
dtypes: int64(10), object(5)
memory usage: 172.4+ KB

In [13]:
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [17]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [ ]:
Preprocess

In [14]:
# library untuk preprocessing

from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [15]:
transformer= ColumnTransformer([('one_hot',OneHotEncoder(drop='first'),['Department','Gender','MaritalStatus','OverTime']),
], remainder='passthrough')

In [ ]:
Splitting data

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X=df.drop('Attrition',axis=1)
y=[1 if i=='Yes' else 0 for i in df['Attrition']]

In [26]:
X_train, X_test, y_train, y_test= train_test_split(X,y,
    test_size=.2,
    stratify=y,
    random_state=2020)

In [27]:
# benchmark

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import f1_score, classification_report,recall_score
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [52]:
def evaluate(df,model):

    model_name=[]
    recall_score=[]
    recall_std=[]
    for name, model in model:
        model = model
        estimator = Pipeline([
            ('preprocess', transformer),
            ('model', model)])

        skfold=StratifiedKFold(n_splits=5)
        score= cross_val_score(estimator,X_train,y_train,scoring='recall',cv=skfold).mean()
        std= cross_val_score(estimator,X_train,y_train,scoring='recall',cv=skfold).std()
        recall_score.append(score)
        recall_std.append(std)
        model_name.append(name)

    return pd.DataFrame({'Name': model_name,'recall_score':recall_score, 'recall_std':recall_std})

In [53]:
models = [
    ['Log Regression', LogisticRegression()],
    ['DecisionTree', DecisionTreeClassifier()],
    ['RandomForest', RandomForestClassifier()],
    ['KNeighbours', KNeighborsClassifier(n_neighbors = 2)]]

In [54]:
evaluate(df,models)

             Name  recall_score  recall_std
0  Log Regression      0.236842    0.094150
1    DecisionTree      0.368421    0.089008
2    RandomForest      0.178947    0.052632
3     KNeighbours      0.026316    0.016644

In [55]:
model=DecisionTreeClassifier()

estimator = Pipeline([
    ('preprocess', transformer),
    ('model', model)])

estimator.fit(X_train,y_train)
recall_score(y_test,estimator.predict(X_test))

0.2765957446808511

In [34]:
from imblearn.over_sampling import SMOTE, RandomOverSampler
from imblearn.under_sampling import NearMiss, RandomUnderSampler
from imblearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [58]:
model=DecisionTreeClassifier()
under=NearMiss()
over=SMOTE()

estimator = Pipeline([
    ('preprocess', transformer), ('balance', under),
    ('model', model)])

skfold=StratifiedKFold(n_splits=5)

In [59]:
hyperparam_space={'balance':[over,under]}

In [60]:
grid_search= GridSearchCV(estimator,
    param_grid= hyperparam_space,
    cv=skfold,
    n_jobs=-1,
    scoring='recall')

In [61]:
grid_search.fit(X_train,y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocess',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('one_hot',
                                                                         OneHotEncoder(drop='first'),
                                                                         ['Department',
                                                                          'Gender',
                                                                          'MaritalStatus',
                                                                          'OverTime'])])),
                                       ('balance', NearMiss()),
                                       ('model', DecisionTreeClassifier())]),
             n_jobs=-1, param_grid={'balance': [SMOTE(), NearMiss()]},
             scoring='recall')

In [62]:
grid_search.best_score_

0.6631578947368421

In [64]:
grid_search.best_params_

{'balance': NearMiss()}

In [65]:
grid_search.best_estimator_.fit(X_train,y_train)
recall_score(y_test,grid_search.best_estimator_.predict(X_test))

0.7021276595744681

In [67]:
print(classification_report(y_test,grid_search.best_estimator_.predict(X_test)))

              precision    recall  f1-score   support

           0       0.89      0.44      0.59       247
           1       0.19      0.70      0.30        47

    accuracy                           0.48       294
   macro avg       0.54      0.57      0.45       294
weighted avg       0.78      0.48      0.54       294

In [68]:
# Tunnning

In [74]:
hyperparam_space = {
        'balance__n_neighbors': [2, 5, 10, 15, 20],
        'model__min_samples_leaf' : [1,5,10,15,20,50],
        'model__min_samples_split' : [2,5,10,15,20,50],
        'model__max_depth' : [2,3,4,5,6,7],
        'model__criterion' : ['entropy','gini']}

In [75]:
estimator = Pipeline([
    ('preprocess', transformer), ('balance', under),
    ('model', model)])
skfold= StratifiedKFold(n_splits=5)

grid= GridSearchCV(estimator,param_grid=hyperparam_space,cv=skfold,scoring='recall',n_jobs=-1)
grid.fit(X_train,y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocess',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('one_hot',
                                                                         OneHotEncoder(drop='first'),
                                                                         ['Department',
                                                                          'Gender',
                                                                          'MaritalStatus',
                                                                          'OverTime'])])),
                                       ('balance', NearMiss()),
                                       ('model', DecisionTreeClassifier())]),
             n_jobs=-1,
             param_grid={'balance__n_neighbors': [2, 5, 10, 15, 20],
                         'model__criterion': ['entropy', 'gini'],
                         'model__max_depth': [2, 3, 4, 5, 6, 7],
                         'model__min_samples_leaf': [1, 5, 10, 15, 20, 50],
                         'model__min_samples_split': [2, 5, 10, 15, 20, 50]},
             scoring='recall')

In [78]:
grid.best_estimator_.fit(X_train,y_train)
recall_score(y_test,grid_search.best_estimator_.predict(X_test))

0.7659574468085106

In [79]:
print(classification_report(y_test,grid.best_estimator_.predict(X_test)))

              precision    recall  f1-score   support

           0       0.92      0.27      0.41       247
           1       0.18      0.87      0.30        47

    accuracy                           0.36       294
   macro avg       0.55      0.57      0.36       294
weighted avg       0.80      0.36      0.40       294

In [80]:
grid.best_params_

{'balance__n_neighbors': 15,
 'model__criterion': 'entropy',
 'model__max_depth': 7,
 'model__min_samples_leaf': 15,
 'model__min_samples_split': 2}

In [ ]:
Best model